.nav_admin_menu
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.contain_top
{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav_admin_menu ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: #424242;
    margin: 0;
    padding: 0;
    width: 600px;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

.nav_admin_menu li
{
    width: 200px;
    text-align: center;
    padding: 20px 0 20px 0;
}

.nav_admin_menu a
{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav_admin_menu ul a:hover
{
    background-color: white;
}

.nav_admin_menu a > li:hover
{
    color: black;
}

.active {
    background-color: white;
    color: black!important;
}

.contain_down
{
    display: flex;
    justify-content: center;
}

.box
{
    margin: 30px 0 30px 0;
    box-shadow: 0 1px 4px #878a85;
    border: 1px solid #878a85;
    width: 600px;
    padding: 20px 0 20px 0;
}

.center
{
    text-align: center;
}

.type_content
{
    padding-top: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.type_form_img
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.type_form_img label
{
    font-size: small;
    font-weight: bold;
    padding: 5px;
    width: 85px;
    display: inline-block;
    text-align: right;
}

.type_form_img input
{
    min-height: 2em;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px;
    width: 250px;
    display: inline-block;
}

.type_form
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.type_form label
{
    font-size: small;
    font-weight: bold;
    padding: 5px;
    width: 85px;
    display: inline-block;
    text-align: right;
}

.type_form input
{
    min-height: 2em;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    padding: 5px;
    width: 250px;
    display: inline-block;
}

.type_form select
{
    border: 0;
    font-size: 1em;
    margin-top: 20px;
}

.type_form button
{
    background-color: #424242;
    padding: .25em 1em;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 10px;
}