section
{
    display: flex;
    flex-direction: row;
    min-height: 80vh;
}

.aside_left
{
    display: flex;
    flex-direction: column;
    width: 20vw;
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, .26);
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9em;
    align-items: center;
}

.type_shoes
{
    text-align: left;
    padding-top: 3em;
}

.type_shoes ul
{
    list-style-type: none;
    padding: 0px;
}

.type_shoes li
{
    padding-top: 20px;
}

.type_shoes a
{
    text-decoration: none;
    color: #424242;
}

.type_shoes a:hover
{
    text-decoration: underline;
}

.search
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0 5px 0;
    margin-top: 50px;
}

.search_content
{
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.search_content form
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search_form input
{
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #424242;
    padding: 5px;
    width: 100px;
    height: 15px;
    display: inline-block;
}

.search_form button
{
    background-color: #424242;
    padding: .25em 1em;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.main_page_product
{
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.content_product
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;
}

.product
{
    display: flex;
    border: 1px solid #E0E0E0;
    margin: 10px 10px 10px 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.product:hover
{
    box-shadow: 1px 1px 12px #555;
}

.product p
{
    margin-bottom: 0;
}

.product_img
{
    display: flex;
    width: 150px;
    height: 150px;
}

.product_img img
{
    max-height: 150px;
    width: 150px;
}

.product a
{
    background-color: #424242;
    padding: .25em 1em;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: medium;
    text-decoration: none;
    margin: 0 2px 0 2px;
}
.product a:hover
{
    font-weight: bold;
}

.button_admin
{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.aside_right
{
    display: flex;
    flex-direction: column;
    width: 20vw;
    flex: 1.2;
    position: relative;
    border-radius: 5px;
    padding: 50px;
    font-size: 0.9em;
    align-items: center;
}

.cart
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    align-self: flex-start;
    box-shadow: 1px 1px 12px #BDBDBD;
}

.cart_top
{
    display: flex;
    width: 100%;
    height: 3em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #424242;
    color: white;
    font-size: large;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.cart_center {
    display:block ;
    float:left;
    width: 80%;
    font-size: small;
}

.cart_center .pcenter{
    text-align: center;
}


.cart_center table {
    font-size: small;
}

.prod_plus a {
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0 0 0 0;
}

.prod_minus a {
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
}

.prod_cancel button {
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
}

.prod_plus .fa {
    color: #424242;
    margin: 7px;
}

.prod_minus .fa {
    color: #424242;
}

.prod_cancel .fa {
    color: red;
    margin-left: 10px;
}

.cart_bottom
{
    display: flex;
    width: 100%;
    height: 3em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, .26);
    color: #424242;
    font-size: large;
    text-transform: uppercase;
}

.link
{
    background-color: #424242;
    padding: .25em 1em;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: medium;
    margin-top: 10px;
    text-decoration: none;
    margin-bottom: 10px;
}
.link:hover
{
    font-weight: bold;
}

@media (max-width: 767px) {
    section {
        flex-direction: column;
    }

    .main_page_product {
        width: 100vw;
    }

    .aside_left {
        display: none;
    }

    .content_product {
        width: 100vw;
    }

    .aside_right {
        justify-content: center;
        padding: 0;
        padding-bottom: 50px;
        padding-top: 50px;
        width: 100vw;
    }

    .cart {
        width: 90vw;
        margin-left: 5vw;;
    }

    .cart_center {
        display: flex;
        justify-content: center;
    }
}